@import '/usr/local/lib/node_modules/jeet/stylus/jeet/index'


heading-text()
	font-size 16px
	font-family 'Lato', serif
	font-weight 400

body-text()
	font-size 12px
	line-height 17px
	font-family 'Roboto', 'helvetica neue', san-serif
	color #666

transition()
	transition all 200ms
	-webkit-transition all 200ms

.clearfix
	clear both

li
#title
	padding-left 20px
	padding-right 20px

h1
	heading-text()
	font-size 25px
	margin 30px 0 30px 0
	span
		font-weight normal
		font-size 15px

h2
	heading-text()

h3
	heading-text()
	margin-top 10px
	color #666

a 
	color inherit
	text-decoration none

em
	font-weight 800

hr
	border none
	border-top 1px solid #CCC
	width 85%

body
	body-text()
	center(100%)
	background #f6f6f6
	#side_nav
		position absolute
		display block
		width 200px
		background #f1f1f1
		min-height 650px
		height 100%
		#logo
			background #1F2123
			display block
			height 55px
			transition()
			img
				height 55px
				margin-left 6px
		#logo:hover
			background #353738
		nav
			text-align left
		h2
			text-transform uppercase
			font-size 14px
			padding 33px 0 0px 15px
		ul
			margin-top 5px
		li
			padding 10px 15px
			transition()
		li:hover
		.selected
			background #d0d0d0
	#content
		margin-left 200px
		display inline-block
		width calc(100% - 200px)
		#heading-main
			width 100%
			height 55px
			background #1F2123
			margin 0
			padding 0
			h1
				margin-top 15px
				color #f1f1f1
			li
				display inline-block
		main
			h1 span
				display block
				margin-top 10px
			padding 0px 20px
			#add_campaign_form
				margin-bottom 40px
				border 2px dashed #e3e2e5
				padding-bottom 10px
				padding-left 10px
				label, input, button
					margin-top 10px
					padding 5px
					border-radius 3px
				label
					display inline-block
					margin-right 10px
					width 150px
				input
					border 1px solid #e3e2e5
				button
					display block
					background #1F9AA2 
					border none
					padding 8px
					border-radius 3px
				.msg
					padding 15px 0 0
					color red
			#homepage
				.container
					col(1/3, gutter: 2, cycle: 3)
					:hover
						background #efefef
						transition()
				.campaign
					display block
					background #fff
					border 1px solid #e3e2e5
					border-radius 3px
					margin-bottom 20px
					padding 0px 12px
					h2
						display block
						font-size 16px 
						padding 0
						margin-top 12px
						margin-bottom 12px
						margin-right 5px
					.homepage-stats
						margin-top 10px
						margin-bottom 12px
			#summary
				.container
					col(1/3, gutter: 2)
				.stats
					background #fff
					border 1px solid #e3e2e5
					border-radius 3px
					margin-bottom 20px
					padding 0px 12px 12px
					min-height 50px
					.big_stat
						display block
						font-size 25px
						color #1F9AA2 
						padding 0px 0 5px
						margin-top 17px
						margin-right 5px
			#chart-title
				border-top-left-radius 3px
				border-top-right-radius 3px
				background #fff
				border 1px solid #e3e2e5
				padding 12px
			.chart
				background #fff
				border 1px solid #e3e2e5
				border-top none
				height 400px
				padding 40px 10px 20px

.homepage_content
	margin-left 0px !important
	width 100% !important

.homepage_nav
	background transparent !important
	min-height 0px !important
	height 55px !important




