@import '/usr/local/lib/node_modules/jeet/stylus/jeet/index'


html
	font-family 'helvetica neue'

a 
	color inherit
	text-decoration none

li
#title
	padding-left 20px
	padding-right 20px

h1
	font-size 20pt
	color #fff

main
	center(100%)
	#title
		padding-top 50px
		padding-bottom 20px
	#side_nav
		float left
		display block
		col(2/10)
		background #000
		height 1000px
		border-right 10px solid #FF9933
		img
			width 90%
		ul
			margin-top 20px
		li
			color #a2a2a2
			padding 20px
		.selected
			background #666564
			color #fff
	#content
		display inline-block
		col(7/10)
		padding-top 20px




