@import '/usr/local/lib/node_modules/jeet/stylus/jeet/index'


html
	font-family 'helvetica neue'

header
li
#title
	padding-left 20px
	padding-right 20px

h1
	font-size 20pt

header
	display block
	padding 20px
	width 100%
	background #FF9933

main
	center(100%)
	#title
		padding-top 50px
		padding-bottom 20px
	#side_nav
		float left
		col(1/3)
		li
			padding 20px
			margin 5px 0
			background #999
		li:nth-of-type(1)
			margin 0
	#content
		display inline-block
		col(2/3)
		background #ababab

#footer
	position absolute
	bottom 0
	left 0
	display block
	padding 20px
	width 100%
	background #FF9933



