html {
  font-family: 'helvetica neue';
  background: #eeedec;
}
header,
li,
#title {
  padding-left: 20px;
  padding-right: 20px;
}
h1 {
  font-size: 20pt;
}
header {
  display: block;
  padding: 20px;
  width: 100%;
  background: #f93;
}
main {
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
main:before,
main:after {
  content: '';
  display: table;
}
main:after {
  clear: both;
}
main #title {
  padding-top: 50px;
  padding-bottom: 20px;
}
main #side_nav {
  float: left;
  display: block;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
  height: calc(100%);
}
main #side_nav:before,
main #side_nav:after {
  content: '';
  display: table;
}
main #side_nav:after {
  clear: both;
}
main #side_nav:last-child {
  margin-right: 0%;
}
main #side_nav li {
  padding: 20px;
  background: #fff;
}
main #content {
  display: inline-block;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 79.4%;
  margin-left: 0%;
  margin-right: 3%;
  padding-top: 20px;
}
main #content:before,
main #content:after {
  content: '';
  display: table;
}
main #content:after {
  clear: both;
}
main #content:last-child {
  margin-right: 0%;
}
