html {
  font-family: 'helvetica neue';
  font-color: #666;
}
.clearfix {
  clear: both;
}
li,
#title {
  padding-left: 20px;
  padding-right: 20px;
}
h1,
h2,
h3 {
  font-family: avenir;
}
h1 {
  font-size: 20pt;
  font-weight: 800;
  margin: 40px 0;
}
h1 span {
  font-weight: normal;
  color: #666;
}
h2 {
  color: #fff;
  font-size: 13pt;
  padding: 40px 0 0px 20px;
}
h3 {
  font-size: 12pt;
  font-weight: 800;
  margin-top: 10px;
  color: #666;
}
a {
  color: inherit;
  text-decoration: none;
}
em {
  font-weight: 800;
}
hr {
  border: none;
  border-top: 1px solid #999;
  margin-bottom: 30px;
  width: 75%;
}
main {
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
main:before,
main:after {
  content: '';
  display: table;
}
main:after {
  clear: both;
}
main #side_nav {
  float: left;
  display: block;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
  background: #000;
  height: 1000px;
  border-right: 10px solid #f93;
}
main #side_nav:before,
main #side_nav:after {
  content: '';
  display: table;
}
main #side_nav:after {
  clear: both;
}
main #side_nav:last-child {
  margin-right: 0%;
}
main #side_nav img {
  width: 90%;
}
main #side_nav ul {
  margin-top: 20px;
}
main #side_nav li {
  color: #a2a2a2;
  padding: 20px;
  transition: all 200ms;
  -webkit-transition: all 200ms;
}
main #side_nav .selected {
  background: #666564;
  color: #fff;
}
main #summary {
  margin: 0;
  background: #e3e2e5;
}
main #summary div {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.3333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 0 30px 0;
  text-align: center;
}
main #summary div:before,
main #summary div:after {
  content: '';
  display: table;
}
main #summary div:after {
  clear: both;
}
main #summary div:last-child {
  margin-right: 0%;
}
main #summary div .big_stat {
  font-size: 30pt;
  color: #1f9aa2;
}
main #content {
  display: inline-block;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 69.1%;
  margin-left: 0%;
  margin-right: 3%;
  padding-top: 20px;
}
main #content:before,
main #content:after {
  content: '';
  display: table;
}
main #content:after {
  clear: both;
}
main #content:last-child {
  margin-right: 0%;
}
main #content #cookie li {
  display: inline-block;
  font-size: 10pt;
  padding: 8px;
  background: #f93;
}
