<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript">

        </script>
        <script src="../static/js/main.js"></script>
    </head>
    <body>
            <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <section id='side_nav' class='homepage_nav'>
                <a href="/" id='logo'><img src='../static/img/appnexus-logo.png'></a>
            </section>

            <section id='content' class='homepage_content'>
                <ul id='heading-main'>
                    <!-- <li><em>Member Name:</em> {{ MemberName }}</li>
                    <li><em>Campaign ID:</em> {{CampaignID}}</li>
                    <li><em>Status:</em> {{StatusCode}}</li> -->
                </ul>

                <main>
                    <h1>{{ MemberName }}<br><span>Campaign Summary</span></h1>
                    <div id='homepage'>
                        <div class='container'>
                            <form>
                                <input type='text'>
                                <input type='submit' value=>
                            </form>
                        </div>
                        <div class='container'>
                            <a href="/campaigns/6596095" class='campaign' id='total_biddable_imps'>
                                <h2>6596095 - Data Targeted</h2>

                                <div class='homepage-stats'>
                                    Imps Seen: {{ ImpsSeen }}<br/>
                                    Bid Rate: {{ BidRate }}<br/>
                                    Win Rate: {{ WinRate }}
                                </div>
                            </a>
                        </div>
                        <div class='container'>
                            <a href="/campaigns/6513780" class='campaign' id='total_biddable_imps'>
                                <h2>6513780 - Optimized to CPA</h2>

                                <div class='homepage-stats'>
                                    Imps Seen: {{ ImpsSeen }}<br/>
                                    Bid Rate: {{ BidRate }}<br/>
                                    Win Rate: {{ WinRate }}
                                </div>
                            </a>
                        </div>
                        <div class='container'>
                            <a href="/campaigns/6766936" class='campaign' id='total_biddable_imps'>
                                <h2>6766936 - Abandoned Shopping Cart</h2>

                                <div class='homepage-stats'>
                                    Imps Seen: {{ ImpsSeen }}<br/>
                                    Bid Rate: {{ BidRate }}<br/>
                                    Win Rate: {{ WinRate }}
                                </div>
                            </a>
                        </div>
                        <div class='container'>
                            <a href="/campaigns/6596095" class='campaign' id='total_biddable_imps'>
                                <h2>6596095 - Data Targeted</h2>

                                <div class='homepage-stats'>
                                    Imps Seen: {{ ImpsSeen }}<br/>
                                    Bid Rate: {{ BidRate }}<br/>
                                    Win Rate: {{ WinRate }}
                                </div>
                            </a>
                        </div>
                        <div class='container'>
                            <a href="/campaigns/6596095" class='campaign' id='total_biddable_imps'>
                                <h2>6596095 - Data Targeted</h2>

                                <div class='homepage-stats'>
                                    Imps Seen: {{ ImpsSeen }}<br/>
                                    Bid Rate: {{ BidRate }}<br/>
                                    Win Rate: {{ WinRate }}
                                </div>
                            </a>
                        </div>
                        <div class='container'>
                            <a href="/campaigns/6596095" class='campaign' id='total_biddable_imps'>
                                <h2>6596095 - Data Targeted</h2>

                                <div class='homepage-stats'>
                                    Imps Seen: {{ ImpsSeen }}<br/>
                                    Bid Rate: {{ BidRate }}<br/>
                                    Win Rate: {{ WinRate }}
                                </div>
                            </a>
                        </div>
                        <div class='container'>
                            <a href="/campaigns/6596095" class='campaign' id='total_biddable_imps'>
                                <h2>6596095 - Data Targeted</h2>

                                <div class='homepage-stats'>
                                    Imps Seen: {{ ImpsSeen }}<br/>
                                    Bid Rate: {{ BidRate }}<br/>
                                    Win Rate: {{ WinRate }}
                                </div>
                            </a>
                        </div>
                        <div class='container'>
                            <a href="/campaigns/6596095" class='campaign' id='total_biddable_imps'>
                                <h2>6596095 - Data Targeted</h2>

                                <div class='homepage-stats'>
                                    Imps Seen: {{ ImpsSeen }}<br/>
                                    Bid Rate: {{ BidRate }}<br/>
                                    Win Rate: {{ WinRate }}
                                </div>
                            </a>
                        </div>
                        <div class='container'>
                            <a href="/campaigns/6596095" class='campaign' id='total_biddable_imps'>
                                <h2>6596095 - Data Targeted</h2>

                                <div class='homepage-stats'>
                                    Imps Seen: {{ ImpsSeen }}<br/>
                                    Bid Rate: {{ BidRate }}<br/>
                                    Win Rate: {{ WinRate }}
                                </div>
                            </a>
                        </div>
                        <div class='container'>
                            <a href="/campaigns/6596095" class='campaign' id='total_biddable_imps'>
                                <h2>6596095 - Data Targeted</h2>

                                <div class='homepage-stats'>
                                    Imps Seen: {{ ImpsSeen }}<br/>
                                    Bid Rate: {{ BidRate }}<br/>
                                    Win Rate: {{ WinRate }}
                                </div>
                            </a>
                        </div>
                    </div>
                </main>
            </section>

        <script>
            var chart_id = {{ chartID|safe }}
            var series   = {{ series|safe }}
            var title    = {{ title|safe }}
            var xAxis    = {{ xAxis|safe }}
            var yAxis    = {{ yAxis|safe }}
            var chart    = {{ chart|safe }}
            var legend   = {{ legend|safe }}
            var campaignList = {{ CampaignList }}
        </script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
    </body>
</html>
