<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="../static/js/main.js"></script>
    </head>
    <body>

        <main>
            <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <section id='side_nav'>
                <a href="/"><img src='../static/img/appnexus-logo.png'></a>
                <h2>Campaign ID</h2>
                <ul>
                    <a href="/campaigns/6596095"><li>6596095 - Data Targeted</li></a>
                    <a href="/campaigns/6513780"><li>6513780 - Optimized to CPA</li></a>
                    <a href="/campaigns/6766936"><li>6766936 - Abandoned Shopping Cart</li></a>
                    <a href="/campaigns/6513786"><li>6513786 - Prospecting</li></a>
                </ul>
            </section>

            <section id='content'>
                <ul id='cookie'>
                    <li><em>Member Name:</em> {{ MemberName }}</li>
                    <li><em>Campaign ID:</em> {{CampaignID}}</li>
                    <li><em>Status:</em> {{StatusCode}}</li>
                </ul>

                <h1>Win Rate Performance Chart <span>( {{ StartTime }} - {{ EndTime }} )</span></h1>


                <div id='summary'>
                    <div id='total_biddable_imps'>
                        <span class="big_stat">{{TotalImps}}</span>
                        <h3>Total Biddable Impressions</h3>
                    </div>
                    <div id='total_bids_pct'>
                        <span class="big_stat">{{PctBid}}%</span>
                        <h3>Bid Percentage</h3>
                    </div>
                    <div id='total_win_pct'>
                        <span class="big_stat">{{PctWin}}%</span>
                        <h3>Win Percentage</h3>
                    </div>
                </div>

                <div class='clearfix'></div>

                <hr>

                <div id='chart'>
                    <div id={{ chartID|safe }} class="chart" style="height: 100px; width: 500px"></div>
                </div>
            </section>

        </main>

        <script>
            var chart_id = {{ chartID|safe }}
            var series   = {{ series|safe }}
            var title    = {{ title|safe }}
            var xAxis    = {{ xAxis|safe }}
            var yAxis    = {{ yAxis|safe }}
            var chart    = {{ chart|safe }}
            var legend   = {{ legend|safe }}
        </script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
    </body>
</html>
