<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script src="../static/js/main.js"></script>
    </head>
    <body data-title="{{ CampaignID }}">
            <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <section id='side_nav'>
                <a href="/" id='logo'><img src='../static/img/appnexus-logo.png'></a>
                <nav>
                    <div id='add_campaign_form_side'>
                        <form>
                            <label>Campaign ID</label><input type='text' id='campaign_id'></input><br/>
                            <label>Campaign Description</label><input type='text' id='campaign_name'></input>
                            <button type='button' onclick="addCampaign();">Add Campaign</button>
                        </form>
                    </div>
                    <h2>Campaign ID</h2>
                    <hr>
                    <ul>
                    </ul>
                </nav>
            </section>

            <section id='content'>
                <ul id='heading-main'>
                    <!-- <li><em>Member Name:</em> {{ MemberName }}</li>
                    <li><em>Campaign ID:</em> {{CampaignID}}</li>
                    <li><em>Status:</em> {{StatusCode}}</li> -->
                </ul>

                <main>
                    <h1>Campaign: {{ CampaignID }}<br><span>10 Minute Performance ({{ StartTime }} to {{ EndTime }} UTC)</span></h1>
                    <div id='summary'>
                        <div class='container'>
                            <div class='stats' id='total_biddable_imps'>
                                <span class="big_stat">{{TotalImps}}</span>
                                Biddable Impressions
                            </div>
                        </div>
                        <div class='container'>
                            <div class='stats' id='total_bids_pct'>
                                <span class="big_stat">{{PctBid}}%</span>
                                Bids on Biddable Imps
                            </div>
                        </div>
                        <div class='container'>
                            <div class='stats' id='total_win_pct'>
                                <span class="big_stat">{{PctWin}}%</span>
                                Wins on Bids
                            </div>
                        </div>
                    </div>

                    <div class='clearfix'></div>

                    <div id='chart'>
                        <div id='chart-title'>Bid Stats per Minute</div>
                        <div id={{ chartID|safe }} class="chart"></div>
                    </div>
                </main>
            </section>
        <script>
            var chart_id = {{ chartID|safe }}
            var series   = {{ series|safe }}
            var title    = {{ title|safe }}
            var xAxis    = {{ xAxis|safe }}
            var yAxis    = {{ yAxis|safe }}
            var chart    = {{ chart|safe }}
            var legend   = {{ legend|safe }}
            var campaignList = {{ CampaignList|safe }}
        </script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
    </body>
</html>
